.clients-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1d1d1d, #2c2c2c);

  }
  .clients-section p{
    line-height: 1.6;
    
  }
  
  .clients-content {
    display: flex;
    flex-wrap: wrap; /* Ensures responsiveness */
    align-items: center;
    gap: 2rem; /* Space between text and image */
    max-width: 1200px;
  }
  
  .clients-text {
    flex: 1;
    min-width: 300px;
    text-align: left;
    padding: 1rem;
  }
  
  .title_red {
    font-size: 2.5rem;
    color: red;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  

  .clients-text .highlight {
    color: white;
    font-weight: bold;
  }
  
  .clients-text .highlight {
    color:red;
    font-weight: bold;
  }
  
  .clients-description,
  .clients-footer {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  .clients-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    transform: rotate(-2deg);
    transition: transform 0.3s ease;
  }
  
  .clients-image:hover {
    transform: rotate(0);
  }
  
  .clients-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 750px) {
    .clients-text {
      padding: 0rem;
    }
  }


  