/* .who-we-are{
    color: white;
    max-width: 1200px;
    margin: auto;
    padding: 4rem 2rem;
} */
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.text_h1{
    width: 80%;
}
.text_h1 h1{
    padding: 0px 20px;
    color: white;
    font-size: 80px;
    font-weight: 900;
}
.text_red{
    color: red;
}
.text_blue{
    color: blue;
}
.who-we-are p{
    font-size: 28px;
    line-height: 1.6;
}

@media (max-width: 750px) {
    .card{
        margin: 0;
        display: block;
        align-items: center;
        justify-content: center;
       
    }.text_h1{
        width: 100%;
    }
    .text_h1 h1{
        padding: 0px;
        color: white;
        font-size: 40px;
        font-weight: 900;
    }
  }