.highlights-section {
  padding: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.highlights-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.highlight-card {
  flex: 1 1 calc(20% - 20px); /* Adjusts the width to display 5 in a row on larger screens */
  min-width: 250px; /* Minimum width for each card */
  background: #222;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.highlight-card:hover {
  transform: translateY(-10px);
}

.video-container {
  width: 100%;
  height: 190px;
}

.highlight-video {
  width: 100%;
  height: 200px;
  display: block;
}

.card-content {
  padding: 15px;
}

.highlight-title {
  margin: 10px 0;
  font-size: 1.2em;
}

.highlight-description {
  font-size: 0.9em;
}

/* Mobile view: one section per line */
@media (max-width: 768px) {
  .highlight-card {
    flex: 1 1 100%; /* Full width for mobile */
  }
}
