
.title_red {
    font-size: 2.5rem;
    color: red;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
.title_white {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
}
.text_p {
    font-size: 26px;
    color: white;
}
.card_heading {
  font-size: 18px;
  color: red;
}
.card_desc {
  font-size: 18px;
  color: black;
}
.sec{
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.hero{
  padding-top: 3rem;
}
.hero-image{
  width: 100%;
}