.contact-us{
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.cu-card{
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
}

.re1{
    display: flex;
    flex-direction: row;
    align-items: center;
    Justify-content: space-evenly;
}
a{
    text-decoration: none;
}
.cu-text{
    padding: 20px;
}

.email-link_text{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  /* .email-link_text:hover {
    color: #f39c12;
  } */

@media (max-width: 750px) {
    .re1{
        background: none;
        border-radius: 0;
        display: block;
        align-items: center;
        justify-content: center;
        box-shadow:none
    }
    .cu-card{
        width: 300px;
    }
  }
